#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
}

.navbar-item {
    list-style: none;
}

.navbar-link {
    position: relative;
    text-decoration: none !important;
}

.navbar-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1.3px;
    background-color: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .15s ease-in-out;
}

.navbar-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

@media screen and (max-width: 575px) {
    #navbar {
        display: none;
    }
}